#add-course-form {
    margin-left: 10vh;
    margin-top: 10vh;
}

#course-form-template {
    overflow-y: scroll;
    width: 100%;
}

#form-template1,
#form-template2 {
    display: inline-block;
    height: calc(100vh - 88px);
    box-sizing: border-box;
    width:100%;
}

.poop {
    display: inline-block;
}
